<settings>
    <servers>
        <server>
            <id>mulesoft-ee</id>
            <username>${MULE_NEXUS_USERNAME}</username>
            <password>${MULE_NEXUS_PASSWORD}</password>
        </server>
        <server>
            <id>mule-exchange-api-team-repository</id>
            <username>~~~Token~~~</username>
            <password>${EXCHANGE_API_TEAM_ACCESSS_TOKEN}</password>
        </server>
        <server>
            <id>mule-exchange-core-repository</id>
            <username>~~~Token~~~</username>
            <password>${EXCHANGE_CORE_ACCESS_TOKEN}</password>
        </server>
    </servers>
    <pluginGroups>
        <pluginGroup>org.mule.tools</pluginGroup>
    </pluginGroups>
    <profiles>
        <profile>
            <id>mule-extra-repos</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <repositories>
                <repository>
                    <id>mule-public</id>
                    <url>https://repository.mulesoft.org/nexus/content/repositories/public</url>
                </repository>
                <repository>
                    <id>mule-exchange-core-repository</id>
                    <name>Exchange Core Repository</name>
                    <url>https://maven.anypoint.mulesoft.com/api/v2/organizations/55278f41-739f-4cde-8b2e-6aa3592eb7a5/maven</url>
                    <layout>default</layout>
                </repository>
                <repository>
                    <id>mule-exchange-api-team-repository</id>
                    <name>Exchange API Team Repository</name>
                    <url>https://maven.anypoint.mulesoft.com/api/v2/organizations/45e92f98-058f-4716-850d-bba6d068e4da/maven</url>
                    <layout>default</layout>
                </repository>
                <repository>
                    <id>mulesoft-ee</id>
                    <name>Mulesoft Enterprise Repository</name>
                    <url>https://repository.mulesoft.org/nexus-ee/content/repositories/releases-ee/</url>
                    <layout>default</layout>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>mule-public</id>
                    <url>https://repository.mulesoft.org/nexus/content/repositories/public</url>
                </pluginRepository>
            </pluginRepositories>
        </profile>
        <profile>
            <id>Mule</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <repositories>
                <repository>
                    <id>mulesoft-ee</id>
                    <name>Mulesoft Enterprise Repository</name>
                    <url>https://repository.mulesoft.org/nexus-ee/content/repositories/releases-ee/</url>
                    <layout>default</layout>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
        </profile>
    </profiles>
</settings>
